@page
@inject ILocalizationService g
@inject IOrderEmailService emailService
@inject IUserManager userManager
@{
	string tokenCode = "";
	if (Request.QueryString.HasValue)
	{
		tokenCode = this.Request.QueryString.Value.Substring(1);
	}
	Layout = null;
}
<!DOCTYPE html>
<html>
<head>
	<meta name="robots" content="noindex,nofollow">
	<meta name="viewport" content="width=device-width" />
	<title>@g["Email communication"]</title>
	<link rel="stylesheet" href="/css/bootstrap.css" />
	<link rel="stylesheet" href="/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/themify-icons.css">
	<link rel="stylesheet" href="/css/AppContext.css" />
	<link rel="stylesheet" href="/styles/kendo.common.min.css" />
	<link rel="stylesheet" href="/styles/kendo.default.min.css" />
	<link rel="stylesheet" href="/styles/kendo.default.mobile.min.css" />
	<link rel="stylesheet" href="/css/views.css" />
	<link rel="stylesheet" href="/css/email.css" />
	<script src="/js/popper.min.js"></script>
	<script src="/js/jquery-3.0.0.min.js"></script>
	<script src="/js/jquery.validate.min.js"></script>
	<script src="/js/jquery.validate.unobtrusive.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/kendo.all.min.js"></script>
	<script src="/js/AppContext.js"></script>
	<script src="/js/AppContext.Events.js"></script>
	<script src="/js/AppContext.Extensions.js"></script>
	<script src="/Email/EmailNotificationsView.js"></script>
</head>
<body>
	<script>
		$(document).ready(function () {
			var view = new EmailNotificationsView("@tokenCode");
			view.Show($("BODY"));
		});
	</script>
</body>
</html>