@page
@inject ILocalizationService g
@{
	Layout = null;
}
<viewcard>
	<viewrow>
		<viewcolumn>
			<div name="Packs" component="FormView" controller="/Common/Components/PackListView.js"></div>
		</viewcolumn>
	</viewrow>
</viewcard>

