@page
@inject ILocalizationService g
@inject IUserData  userData
@inject IOrderRepository  orderRepo
@inject IProjectRepository projectRepo
@inject IEventQueue events
@{
    Layout = null;
    var articles = new List<OrderDetailDTO>();
    IProject project = new Project();
    int delta = 0;
   
    var lastPackCode = string.Empty;

    int id = -1;

    //if (Request.Query.ContainsKey("OrderGroupID"))
    //{
    //    id = Convert.ToInt32(Request.Query["orderid"].ToString());
    //    articles = orderRepo.GetOrderArticles(new OrderArticlesFilter() { OrderID = id, ArticleType = ArticleTypeFilter.Label}).ToList();

    //    //var orderProjectInfo = orderRepo.GetProjectInfo(id);
    //    var o = orderRepo.GetByID(id);

    //    project = projectRepo.GetByID(o.ProjectID);


    //    // This page is available then this project is allow quantity edition
    //    if (project.AllowQuantityEdition == (int)OrderQuantityEditionOption.MaxPercentajeValue)
    //    {
    //        delta = project.MaxQuantityPercentage.Value;
    //    }else
    //    {
    //        delta = project.MaxQuantity.Value;
    //    }
    //    events.Send(new QuantitiesStepStartedEvent(id, o.OrderNumber, o.CompanyID, project.BrandID, project.ID));
    //}

}
    <form name="madein-wizard-frm" method="post" onsubmit="return false;">
        <viewform>
            
            <viewcard>

                <viewrow>
                    <viewcolumn>
                        <div name="BreadcrumbContainer">
                            @*<ul class="breadcrumb centered">

                                <li><a class="completed" href="#"> Paso 1</a></li>
                                <li><a class="completed" href="#"> Paso 2</a></li>
                                <li><a class="" href="#"> Paso 3</a></li>
                                <li><a class="pending" href="#"> Paso 4</a></li>

                            </ul>*@
                        </div>

                    </viewcolumn>
                </viewrow>

                <viewrow>
                    <viewcolumn>
                        <!--  esta es la zona que cambia en el wizard  -->

                        
                    </viewcolumn>
                </viewrow>

                <viewfooter>

                    <div class="row justify-content-end" name="AvailableActions">
                        <div class="col-4 text-center">
                            <a href="#" class="btn btn-sm btn-outline-primary" action="Save"> <span class="fa fa-fw fa-save" aria-hidden="true"></span> @g["Save"]</a>
                        </div>
                        <div class="col-4 text-right">
                            <a href="#" class="btn btn-sm btn-primary" action="SaveAndNext">@g["Save And Next"] <span class="fa fa-fw fa-chevron-right" aria-hidden="true"></span></a>
                        </div>
                    </div>

                </viewfooter>

            </viewcard>
        </viewform>
        
    </form>
