@page
@inject ILocalizationService g
@{
    Layout = null;
}


<viewcard>
    <viewrow>
        <viewcolumn>
            <div name="InLays" componets="FormView" controller="/Common/Components/InLayListView.js"></div>
        </viewcolumn>
    </viewrow>
</viewcard>
