@page
@{
    Layout = null;
}
//# sourceURL=https://Pages/Admin/Dashboards/Customer/CustomerDashboardGeneralView.js
///<reference path="/js/jquery-3.0.0.min.js" />
///<reference path="/js/Kendo.all.min.js" />
///<reference path="/js/AppContext.js" />

//<script>
	var CustomerDashboardGeneralView = function () {
		FormView.Extend(this, null, `/Admin/Dashboards/Customer/CustomerDashboardGeneralView`);
	};

	CustomerDashboardGeneralView.prototype = {
		constructor: CustomerDashboardGeneralView,

		  refreshCounters: async function(self) {

			  var response = await AppContext.HttpGet(`/Dashboards/Customer/GetCountersByTask`);

			  if (response.Success === true) {
				  self.Tasks = response.Data;
				  self.elements.Tasks.Rows.LoadData(response.Data);

				  var TotalWaitingItems = 0;
				  var TotalRejectedItems = 0;

				  for (let i = 0; i < response.Data.length; i++) {
					  TotalWaitingItems += response.Data[i].Waiting;
					  TotalRejectedItems += response.Data[i].Rejected;
				  }

				  self.model.TotalWaiting = TotalWaitingItems;
				  self.model.TotalRejected = TotalRejectedItems;
			  }
		},


		OnLoad: async function () {
			this.timerid = setInterval(this.refreshCounters, 60000, this);
			await this.refreshCounters(this);
		},

		WaitingLink: function (val, row, col, dataType, data) {
			return this.getLink("ShowItemErrorView", data.TaskID, val, waitingstatus);
		},

		RejectedLink: function (val, row, col, dataType, data) {
			return this.getLink("ShowItemErrorView", data.TaskID, val, rejectedstatus);
		},

		OnUnload: function () {
			  clearInterval(this.timerid);
		},

		getLink: function (action, taskID, val, statusid) {
			if (val == 0) return "";

			var style = `padding: 0; color:#4040A0; background: #AAFFAA; text-align: center; cursor: pointer`;
			var link = `<div action="${action}" data-taskid="${taskID}" data-statusid="${statusid}" data-itemscount=${val} style="${style}"><b>${val}</b></div>`;

			return link;
		},

		ShowItemErrorView: async function (e) {
			e && e.preventDefault();

			var taskid = e.currentTarget.attributes["data-taskid"].value;
			var statusid = e.currentTarget.attributes["data-statusid"].value;
			var itemscount = e.currentTarget.attributes["data-itemscount"].value;

			await AppContext.LoadJS("/Admin/Dashboards/Customer/ItemErrorView.js");
				  var dlg = new ItemErrorView(taskid, statusid, null, itemscount);
			dlg.ShowDialog(async (result) => {
				await this.refreshCounters(this);
			},"90%");
		}
		
	};
//</script>