html, body {
	padding: 0px;
	margin: 0px;
	background-color: #E4E4E4;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size: 14px;
	height: 100%;
}

a, a:link, a:visited, a:hover, a:active {
	color: #0094ff;
}

.bluestrip {
	padding: 30px;
	background-color: #0094ff;
}

.whitestrip {
	padding: 30px 40px 30px 40px;
	background-color: #ffffff;
}

.footer {
	display: flex;
	padding: 30px;
	background-color: #F0F3F5;
	border-top: 1px solid #C8C8C9;
	flex: 1 1 auto;
}

.title {
	padding-top: 20px;
	font-size: 18px;
	font-weight: 600;
	color: #ffffff;
	width: 60%;
	margin: auto;
	text-align: center;
}

.subtitle {
	font-size: 14px;
	color: #ffffff;
	width: 80%;
	margin: auto;
	text-align: center;
}

.comment {
	margin-top:10px;
	font-size: 14px;
	color: #000000;
	width: 80%;
	margin: auto;
	text-align: center;
}

.button {
	display: inline-block;
	background-color: white;
	border-radius: 4px;
	color: #0094ff;
	text-align: center;
	text-decoration: none;
	padding: 6px 12px 6px 12px;
}

.button2 {
	display: inline-block;
	background-color: #0094ff;
	border-radius: 4px;
	color: #ffffff;
	text-align: center;
	text-decoration: none;
	padding: 6px 12px 6px 12px;
	cursor: pointer;
}

.button3 {
	display: inline-block;
	border: solid 1px #0094ff;
	border-radius: 4px;
	color: #0094ff;
	text-align: center;
	text-decoration: none;
	padding: 6px 12px 6px 12px;
	cursor: pointer;
}

table {
	width: 100%;
	border: 0px;
	border-collapse: collapse;
}

td {
	padding: 10px;
	margin: 0px;
}

thead td {
	border-bottom: 1px solid #C0C0C0;
}

tbody td {
	margin: 0px;
	border-bottom: 1px solid #C0C0C0;
	color: #2F79E0;
}

.mainContainer {
	padding: 0px 10% 0px 10%;
}
