@page
@inject ILocalizationService g
@{
	Layout = null;
}

<viewcard>
	<viewrow>
        <viewcolumn>
            <div name="Brands" component="FormView" controller="/Common/Components/BrandsListView.js"></div>
        </viewcolumn>
	</viewrow>
</viewcard>

