@page
@inject ILocalizationService g
@{
    Layout = null;
}

<viewcard>
    <viewrow>
        <viewcolumn>
            <div component="OrderGrid" name="ServiceStatusTable" style="width:100%; max-height:50vh;" rowcssclass="GridViewSetRowCssClass">
                <template>
                    <column width="10" field="Selected" type="bool" render="RenderSelectBox"></column>
                    <column width="200" field="ServiceName" sortable="true">@g["Service Name"]</column>
                    <column width="90" field="Status" sortable="true">@g["Status"]</column>
                    <column width="90" field="Actions" sortable="true">@g["Actions"]</column>
                    <!-- Contextual Menu  -->
                    <menu>
                        @* set options on demand in controller *@
                    </menu>
                </template>
            </div>
        </viewcolumn>
    </viewrow>
    <viewrow>
            <viewcolumn>
                <div name="PaginationContainer"></div>
            </viewcolumn>
        </viewrow>
</viewcard>

                

