@page
@inject ILocalizationService g
@{
	Layout = null;
	var isAdmin = User.IsAnyRole(Roles.SysAdmin, Roles.IDTLabelDesign);
}
//# sourceURL=https://Pages/Common/Components/CompB.js
/// <reference path="/js/jquery-3.0.0.min.js" />
/// <reference path="/js/Kendo.all.min.js" />
/// <reference path="/js/AppContext.js" />

//<script>
    var CompB = function () {
		FormView.Extend(this);
		this.Content = $(`<div style="background-color:#0000FF; width:60px; height:60px; padding:10px;">
			<div component="FormView" controller="/Common/Components/CompC.js"></div>
		</div >`);
		this.dataSource = null;
		this.ItemSelected = new AppEvent();
	};

	CompB.prototype = {
        constructor: CompB,

		OnLoad: function () {
			console.log("CompB OnLoad");
		},

		OnUnload: function () {
			console.log("CompB OnUnload");
		}
	};
//</script>