@page
@inject ILocalizationService g
@inject IUserData userData
@{
    Layout = null;
}
//# sourceURL=https://Pages/Common/Components/CompanyListView.js
/// <reference path="/js/jquery-3.0.0.min.js" />
/// <reference path="/js/Kendo.all.min.js" />
/// <reference path="/js/AppContext.js" />

//<script>
    var CompanyListView = function () {
		FormView.Extend(this);
        this.Content = $(`
			<inlineform name="FilterForm" style="display:none; margin-bottom:10px;">
				<input type="text" model name="FilterText" label="@g["Search"]:" action="keyup:ApplyFilters" />
				<input type="checkbox" model name="ShowAll" label="@g["Show All"]" action="change:LoadAllItems" value="1" />
			</inlineform>
			<div name="FileDropArea" style="margin-bottom:10px;"></div>
			<div name="ListContainer"></div>`);
		this.dataSource = null;
		this.ItemSelected = new AppEvent();
	};

	CompanyListView.prototype = {
        constructor: CompanyListView,

        OnLoad: function () {
			AppContext.AppEventListener.Subscribe(this, this.HandleNotifications);
		},

		OnUnload: function () {
			AppContext.AppEventListener.Unsubscribe(this, this.HandleNotifications);
			this.ItemSelected.Dispose();
		},

		HandleNotifications: function (e) {
			if (e.EventName === "EntityEvent") {
				if (e.EntityName === "Company") {
					if(e.Operation === 2)
						this.HandleDeleteNotification(e.Entity);
					if (e.Operation === 1)
						this.HandleUpdateNotification(e.Entity);
				}
			}
		},

		HandleDeleteNotification(entity) {
			var card = this.ViewContainer.find(`[data-entityid='${entity.ID}']`);
			if (card.length === 1) {
				card.off();
				card.remove();
			}
		},

		HandleUpdateNotification(entity) {
			this.UpdateCard(entity);
        },

        ApplyFilters: function (e) {
			var self = this;
			var cards = this.elements.ListContainer.find("[data-entityid]");
			var searchText = self.model.FilterText.toLowerCase();
			$.each(cards, function (index, card) {
				card = $(card);
				var displayElm = card.find("em[data-display='1']");
				var displayText = displayElm.text().toLowerCase();
				if (displayText.includes(searchText))
					card.show();
				else
					card.hide();
			});
        },

		LoadItems: function (setup) {
            if (setup == null) setup = {};
			this.ShowNewOption = setup.AddOption == true;
			this.ShowOpenOption = setup.OpenOption == true;
            this.ShowDeleteOption = setup.DeleteOption == true;
            this.elements.FilterForm.show();

            var self = this;
            var processList = function (data) {
                self.dataSource = data;
                self.elements.ListContainer.empty();
				@if (userData.Admin_Companies_CanAdd)
				{
					@:if (self.ShowNewOption) self.CreateNewCard();
				}
                if (data != null) {
                    for (var i = 0; i < data.length; i++) {
                        self.CreateItemCard(data[i]);
                    }
                }
            };

            if (self.model.ShowAll) {
				AppContext.Companies.GetAll(processList);
            } else {
				AppContext.Companies.GetList(processList);
            }
		},

        LoadAllItems: function () {
            this.LoadItems({ OpenOption: true });
        },


		@if(userData.Admin_Companies_CanAdd)
		{
		<text>
		CreateNewCard: function () {
			var self = this;
			var html = $(`
			<div class="new-item-card brand-card">
				<div style="padding-top:10px;">
					<div class="btn btn-outline-secondary btn-sm" action="CreateItem" style="display:block; margin:auto; width:140px;"><span class="fa fa-plus"></span>&nbsp;&nbsp;@g["New Company"]</div>
				</div>
			</div>`);
			AppContext.BindActions(html, this);
	        self.elements.ListContainer.append(html);
		},

        CreateItem: function (e) {
			var self = this;
            AppContext.LoadJS("/common/AskNameDialog.js").then(() => {
				var dialog = new AskNameDialog("@g["New Company"]");
				dialog.ShowDialog(function (dlgData) {
					if (dlgData) {
                        AppContext.Companies.Insert(dlgData, function (result) {
							if (result.Success) {
								self.CreateItemCard(result.Data);
								self.dataSource.push(result.Data);
								var card = self.ViewContainer.find(`[data-entityid='${result.Data.ID}']`);
                                self.ItemSelected.Raise({ target: self, item: result.Data });
							}
						});
					}
				});
			})
		},
		</text>
		}


		@if(userData.Admin_Companies_CanDelete)
		{
		<text>
		DeleteItem: function (e) {
			var self = this;
			var card = $(e.target.parentNode);
			var id = card.attr("data-entityid");
			var confirm = new ConfirmDialog("@g["Delete Company? IMPORTANT: This operation cannot be undone."]");
			confirm.ShowDialog(function (response) {
				if (response) {
					AppContext.Companies.Delete(id, function (result) {
						if (result.Success) {
							card.off();
							card.remove();
                            var idx = self.dataSource.findIndex(function (e) { return e.ID == id; });
                            self.dataSource.splice(idx, 1);
						}
					});
				}
			});
		},
		</text>
		}

		CreateItemCard: function (data) {
			var self = this;
			var openAction = this.ShowOpenOption ? " action=OpenClicked" : " style='cursor:default;'";
			@if (userData.Admin_Companies_CanDelete)
			{
			@:var deleteAction = this.ShowDeleteOption ? '<span class="ti ti-close card-right card-close" action=DeleteItem></span>' : "";
			}
			else
			{
			@:var deleteAction = "";
			}


            let img = '<img src="/images/no_logo.png" class="image-preview brand-preview" />'

            if (data.Logo)
                img = `<img src="data:image/png;base64, ${data.Logo}" class="image-preview brand-preview" />`;

			var html = $(`
	        <div class="item-card brand-card" data-entityid="${data.ID}"${openAction}>
				<span class="fa fa-building-o"></span>${deleteAction}
				<div style="cursor:pointer;" name="Name"><em data-display="1">${data.Name}</em></div>
                ${img}

	        </div>`);
			AppContext.BindActions(html, this);
		    self.elements.ListContainer.append(html);
        },

        OpenClicked: function (e) {
			var self = this;
			e.preventDefault();
			var cardElm = $(e.target).closest("[data-entityid]");
			var id = cardElm.attr("data-entityid");
            var cardData = this.dataSource.first(p => p.ID == id);
			this.ItemSelected.Raise({ target: this, item: cardData });
		},

		UpdateCard: function (data) {
			var idx = this.dataSource.findIndex(p => p.ID == data.ID);
			if (idx >= 0) {
				this.dataSource[idx] = data;
				var card = this.ViewContainer.find(`[data-entityid='${data.ID}']`);
				card.find("[name='Name']").text(data.Name);
				card.find("[name='Desc']").text(data.Description);
			}
		}
	};
//</script>