@page
@{
    Layout = null;
}

<viewcard>
    <viewrow>
        <viewcolumn>
            <div name="Fonts" component="FormView" controller="/Common/Components/FontListView.js"></div>
        </viewcolumn>
    </viewrow>
</viewcard>

