@page
@{
    Layout = null;
}

<viewcard>
    <viewrow>
        <viewcolumn>
            <div name="Images" component="FormView" controller="/Common/Components/ImageListView.js"></div>
        </viewcolumn>
    </viewrow>
</viewcard>

