/* GridView styles */

.gvbody {
	width: 100%;
	height:100%;
	overflow: auto;
	font-family: "Segoe UI";
	font-size: 13px;
	cursor:default;
}
.gvbody::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

.gvbody::-webkit-scrollbar-track {
	background: #D0D0D1;
}

.gvbody::-webkit-scrollbar-thumb {
	background: #888;
}

.gvbody::-webkit-scrollbar-thumb:hover {
	background: #555;
}

/* To make header larger override the height and font-size attributes */
/* To make column headers align to center add text-align: center; to .gvheader-cell */
.gvheader {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	height: 24px;
	font-size: 13px;
	white-space: nowrap;
	font-weight: 600;
	margin-bottom: 4px;
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none;
	z-index:1;
}

.gvheader-cell {
	display: inline-block;
	padding-top: 4px;
	height: 95%;
	overflow: hidden;
	white-space: nowrap;
	background-color: #e9ecef;
	border-bottom: 1px solid #D0D0D1;
	cursor: default;
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none;
}

.gvheader-grip {
	display: inline-block;
	padding-top: 4px;
	width: 4px;
	height: 95%;
	white-space: nowrap;
	border-left: 1px solid #D8D8D8;
	cursor: ew-resize;
	background-color: #e9ecef;
	border-bottom: 1px solid #D0D0D1;
}

.gvheader-grip:last-child {
	width: 0px;
}

.gvheader-sort {
	float: right;
	font-size: 10px;
	background-color: #FFF;
	color: #404040;
	margin-right:5px;
}

.gvrow {
	height: 24px;
	font-size: 12px;
	white-space: nowrap;
}

.gvrow:hover {
	background-color: rgba(38,179,222,0.8);
	color: #ffffff;
}

.gvrowselected {
	background-color: rgba(30,166,214,0.8);
	color: #ffffff;
}

.gvcell {
	display: inline-block;
	height: 100%;
	overflow: hidden;
	white-space: nowrap;
	border-right: 1px solid #D8D8D8;
	border-bottom: 1px solid #D8D8D8;
	padding-left: 4px; /* This must match .gvheader-grip width - 1 */
}

.gvcell:first-child {
	border-left: 1px solid #D8D8D8;
	padding-left: 3px;
}

.gvcellcontent {
	padding-top:4px;
}

.gvheader div:first-child {
	padding-left: 4px;
}

.gveditbox {
	font-size: 12px;
	height: 18px;
	border: 0px;
	background-color: transparent;
	color: white;
	transition: none;
	box-shadow: none;
	padding-left: 0px;
	outline: none !important;
	margin:0px;
	padding:0px;
}

.gvselectbox {
	font-size: 12px;
	height: 18px;
	border: 0px;
	background-color: transparent;
	color: white;
	transition: none;
	box-shadow: none;
	padding-left: 0px;
	outline: none !important;
	margin: 0px;
}

.gvdatebox {
	font-family: 'Segoe UI';
	font-size: 12px;
	width: 100px;
	height: 22px;
	border: 0px;
	background-color: transparent;
	color: #404040;
	transition: none;
	box-shadow: none;
	padding-left: 0px;
	outline: none !important;
	margin: 0px;
}


.gvdtpicker {
	position: absolute;
	font-family: "Segoe UI";
	font-size: 12px;
	color: #ffffff;
    background-color: rgb(4, 127, 200);
	cursor: pointer;
}

.gvdtpicker-icon {
	float: right;
	font-size: 14px;
	margin: 3px;
	margin-top: 5px;
	color: #505050;
}

.gvdtpicker-value {
	display: inline-block;
	width: 75%;
	height: 20px;
	overflow: hidden;
	margin: 3px;
}